section.section.section-conditions
	.wrapper.wrapper-conditions(data-aos="fade" data-aos-delay="300")
		h2.h2-title.h2-title_conditions !{aboutConditionsText.title[lang]}
		p.conditions__text !{aboutConditionsText.text[lang]}
		a(href=linkSignup).btn.btn_conditions !{buttonText.btnOpenAcc[lang]}
