section.section.section-quality.section-with-bg
	.wrapper.wrapper_quality(data-aos="fade" data-aos-delay="300")
		.quality-decor
		h2.h2-title.color-blue.h2-title_quality !{aboutQualityText.title[lang]}
		p.section-quality__text.color-blue !{aboutQualityText.text[lang]}
		a(href= linkSignup).btn.btn-quality !{buttonText.btnStartTrade[lang]}
