.table-wrapper {
  position: relative;
  overflow: auto;
  z-index: 2;
}
.table-wrapper-for-shadow {
  position: relative;
}
.tableinsert {
   max-height: rem(500px);
}
.table-trade {
  border-collapse: collapse;
  width: 100%;
  th {
      padding: rem(8px) rem(16px);
      font-size: rem(14px);
      line-height: rem(21px);
      color: $color-blue-1;
      vertical-align: middle;
      position: sticky;
      z-index: 3;
      top: 0;
      text-align: center;
      font-weight: 400;
      background: $color-white;
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(21,42,161,0.3);
      }

    }
  td {
    color: $color-blue-1;
    font-size: rem(14px);
    line-height: rem(21px);
    padding: rem(11px) rem(16px);
    position: relative;
    text-align: center;
  }
  tr:nth-child(even) {
    td {
      background: $color-grey;
    }
  }
}
.ask.top,
.bid.top {
  color: $color-red;
}
.ask.min,
.bid.min {
  color: $color-green;
}
.btn-table {
  font-size: rem(12px);
  line-height: rem(18px);
  font-weight: 500;
  padding: rem(8px) rem(16px);
  cursor: pointer;
  border-width: rem(2px);
  border-radius: rem(8px);
  border-style: solid;
  color: $color-blue-1;
}
.btn-buy {
  border-color: $color-green;
  &:hover {
    border-color: #15E883;
  }
  &:active {
    border-color: #15E883;
  }
}
.btn-sell {
  border-color: $color-red;
  margin-right: rem(16px);
  &:hover {
    border-color: #ED5D5D;
  }
  &:active {
    border-color: #FF0000;
  }
}
.footnote_table {
  margin-top: rem(16px);
  text-align: left;
  font-size: rem(14px);
  line-height: rem(21px);
  color: $color-blue-1;
  opacity: 0.5;
}
.section-graph {
  position: relative;
  padding-bottom: rem(100px);
  z-index: 1;
  &::before {
    background: $color-white;
    border-radius: 0 0 rem(123px) rem(123px);
  }
  &::after {
    display: none;
  }
}
.graph {
  height: rem(531px);
}
.left-blue-decor_table {
  top: rem(-150px);
}
.wrapper_table {
  &::before {
    left: auto;
    right: rem(-226px);
    top:  rem(260px);
    transform: rotate(-180deg);
  }
}
.right-blue-decor_graph {
  top: rem(-163px);
  left: rem(937px);
}
.wrapper-graph {
  position: relative;
  z-index: 2;
}
.footnote_metals {
  margin-left: rem(254px);
}
.footnote_commodities {
  margin-left: rem(260px);
}
.footnote_index {
  margin-left: rem(169px);
}
.table-wrapper-for-border {
  overflow: hidden;
  position: relative;
}
.table-btn-wrapper {
  display: flex;
  align-items: center;
}
.section-table {
  z-index: 1;
  padding-top: rem(40px);
  &::before {
    background: $color-white;
    border-radius: 0 rem(123px) 0 0;
  }
  &::after {
    top: 0;
    background: $color-blue-1;
  }
}
.wrapper_for-table {
  position: relative;
  z-index: 2;
}



// ADAPTIVE
@media (max-width: 1152px) {
  .section-table__title {
    margin-left: 0;
    margin-bottom: rem(30px);
  }
  .tableinsert {
    width: rem(1200px);
    max-height: rem(400px);
  }
  .section-graph__title {
    margin-bottom: rem(30px);
  }
  .footnote_table {
    margin-left: 0 !important;
  }
  .graph {
    height: rem(450px);
  }
  .wrapper-table {
    border-radius: rem(8px);
    padding: rem(60px) rem(20px);
  }
  .table-wrapper-for-shadow {
    &::before {
      display: none;
    }
  }
  .btn-table {
    border-radius: rem(6px);
  }
  .section-graph {
    padding-bottom: rem(64px);
  }
}

@media (max-width: 640px) {
  .graph {
    height: rem(360px);
  }
  .markets-item-information-wrapper {
    &::before {
      display: none;
    }
  }
  .table-wrapper-for-border {
    margin-left: rem(-8px);
    margin-right: rem(-8px);
  }
  .table-trade td {
    font-size: rem(12px);
  }
  .graph-wrapper {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
