.page-header-light
	include ../nav.pug
header.page-header.page-header_404.page-header_other-page
	.wrapper.wrapper-header.wrapper-header_other-page.wrapper-header_404
		.decor-404.decor-404_1
		.decor-404.decor-404_2
		.decor-404.decor-404_3
		.decor-404.decor-404_4
		.text-header-wrapper.text-header-wrapper_404
			h1.page-header__title_404.page-header__title.h2-title 404
			p.color-white.page-header__text.page-header__text-404 !{headerText404.text[lang]}
			.header-404__buttons
				a(href="contacts.html").btn.btn-404 !{buttonText.btnSupport[lang]}
				a(href="index.html").btn-show-more !{buttonText.btn404[lang]}
