mixin marketGraph(attr)
    section.section.section-graph.section-with-bg
        .wrapper.wrapper-graph
            h2.color-blue.section-graph__title.h2-title !{commonMarketsText.title_graph[lang]}
            .graph-wrapper
                .graph#tradeview(data-item=attr height="650")
