mixin marketTable(attr)
    section.section.section-table.section-with-bg
        .wrapper.wrapper_for-table
            h2.color-blue.h2-title.h2-title_table !{commonMarketsText.title_table[lang]}
            .table-wrapper-for-shadow
                .table-wrapper-for-border
                    .table-wrapper
                        .tableinsert(attr=attr)
                .footnote.footnote_table !{commonMarketsText.footnote[lang]}
