.main-header_form {
  min-height: auto;
  z-index: 1;
  flex-grow: 1;
  height: auto;
}
.layout-template-wrapper_forms {
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header_form::before {
  display: none;
}
.forms-prev-text {
  text-align: center;
  color: $color-white;
  margin-bottom: rem(24px);
  font-size: rem(16px);
  line-height: rem(20px);
  max-width: rem(593px);
}
.form-prev-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-wrapper-sign {
  .form-input {
    box-shadow: none !important;
    background: transparent;
    color: $color-white;
    caret-color: $color-white;
    -webkit-text-fill-color: $color-white;
    &::-webkit-input-placeholder {
      transition: .3s ease-out;
      color: #A5B7DF;
    }
    &::-moz-placeholder {
      transition: .3s ease-out;
      color: #A5B7DF;
    }
    &:-moz-placeholder {
      transition: .3s ease-out;
      color: #A5B7DF;
    }
    &:-ms-input-placeholder {
      transition: .3s ease-out;
      color: #A5B7DF;
    }
    &:-webkit-autofill {
      -webkit-text-fill-color: $color-black !important;
    }
    &:focus {
    }
    &.error {
      border-color: $color-red;
    }
  }

}
.main-h2_forms {
  &::before {
    display: none;
  }
}
.form-item_main-form {
  .form-input {
    box-shadow: none !important;
    background: transparent;
  }
}
.wrapper-form-button {
  margin-top: rem(16px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.link-form {
  &:hover {
    //color: $button-color__primary__hover;
  }
}
.wrapper-accreditations-forms {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(20px);
}
.main-form-wrapper {
  width: 100%;
  max-width: rem(736px);
  margin-bottom: rem(156px);
}
.btn-submit_main-form {
  span {
    min-width: rem(380px);
  }
}
.header-background-other-page_forms {
  &::before {
    background: url("../images/header/d-f.svg") no-repeat;
    background-size: 100% 100%;
    width: calc(100% - 1.4375rem);
    margin-left: rem(13px);
  }
}
.input-label-sign {
  font-size: rem(14px);
  line-height: rem(28px);
  font-weight: 400;
  margin-bottom: 0;
}
.accreditation-link {
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(22px);
  position: relative;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.wrapper-form-button_signin {
  justify-content: center;
  margin-top: rem(17px);
}
.form-input-sign {
  font-size: rem(16px);
  padding: rem(11px);
  &:focus {
    border: 1px solid #878C8F;
  }
  &.error {
    border: 1px solid #DE3838;
  }
  &.error ~ .input-label-sign {
    color: #DE3838;
  }
}
.show-icon {
  width: rem(24px);
  height: rem(24px);
  position: absolute;
  top: rem(43px);
  right: rem(16px);
  cursor: pointer;
  z-index: 1;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("../images/show-icon.svg");
    top: 0;
    left: 0;
  }
}
.form-input-pass {
  padding-right: rem(49px);
  &.show {
    & ~ .show-icon {
      &::before {
        background-image: url("../images/hidden-icon.svg");
      }
    }
  }
}
.main-form_enter {
  flex-direction: column;
  display: block;
}
.main-form-wrapper_enter {
  max-width: rem(369px);
}
.form-item-sign_enter {
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: rem(23px);
}
.btn-submit_main-form-enter {
  margin-top: rem(47px);
}
.link-form {
  color: $color-white;
  font-size: rem(14px);
  line-height: rem(19px);
  &:hover {
    text-decoration: underline;
  }
}
.callback-form_two-step {
  max-width: rem(337px);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(30px);
}
.form-input_two-step ~ label.error {
  padding-left: 0 !important;
  max-width: none !important;
  transform: translateY(100%) !important;
  right: auto !important;
  left: 0 !important;
  bottom: rem(-3px);
  color: #DE3838 !important;
  &::before {
    display: none !important;
  }
}
.btn-two-step {
  margin-top: rem(24px);
  width: 100%;
}
.popup_twoauthstep {
  min-height: auto;
  background: $color-white !important;
  padding: rem(40px) rem(41px) rem(40px);
  max-width: rem(696px);
  .main-h2_saccess {
    color: $color-black !important;
    margin-bottom: 0;
  }
  .form-input {
    color: $color-black;
    caret-color: $color-black;
    -webkit-text-fill-color: $color-black;
    &::-webkit-input-placeholder {
      transition: .3s ease-out;
      color: #A7A7A7;
    }
    &::-moz-placeholder {
      transition: .3s ease-out;
      color: #A7A7A7;
    }
    &:-moz-placeholder {
      transition: .3s ease-out;
      color: #A7A7A7;
    }
    &:-ms-input-placeholder {
      transition: .3s ease-out;
      color: #A7A7A7;
    }
  }
  .form-item-sign {
    margin-bottom: 0;
  }
  .btn-submit {
    margin-top: rem(30px);
  }
}
.succesRepass {
  .saccess-icon_info {
    background: url("../images/succes-icon.svg") no-repeat;
    background-size: 100%;
  }
  .title-saccess_info {
    font-size: rem(22px);
    line-height: 130%;
  }
}
.title-saccess_info {
  margin-bottom: 0;
}
.main-h2_forms {
  margin-bottom: rem(20px);
  padding-bottom: 0;
}
.form-link {
  text-decoration: underline;
  display: inline;
  &:hover {
    text-decoration: none;
  }
}
.background-img-other-page_forms {
  background: #1C1C1C;
}

.main-h2_enter {
  margin-bottom: rem(41px);
}
.form-enter-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: rem(50px);
}
.btn-submit_enter {
  position: static;
  transform: none;
  font-weight: 500;
}
.btn-register-form {
  height: rem(40px);
  min-width: rem(160px);
  background: transparent;
  margin-bottom: rem(20px);
  &:hover {
    color: $color-white;
    text-decoration: underline;
  }
}
.wrapper-form-button_enter {
  flex-direction: row-reverse;
  align-items: center;
  margin-top: rem(10px);
}
.slider-picture-wrapper_form {
  width: calc((100vw - 76.875rem) / 2 + 75.375rem);
}
.header-background-wrapper_form {
  height: 100%;
}
.custom-checkbox-text_sign {
  font-size: rem(14px);
  line-height: rem(19px);
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.form-item_custom-checkbox-2 {
  margin-bottom: rem(21px);
}
.link-form_sign {
  font-size: rem(16px);
  line-height: rem(18px);
  font-weight: 400;
  color: $color-white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.section-wrapper_forms {
  margin-bottom: rem(132px);
  flex-grow: 1;
  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: calc((100vw - 75rem) / 2 + 30.1875rem);
    height: rem(133px);
    transform: translateY(100%);
  }
}
.link-form_enter {
  font-size: rem(18px);
  line-height: rem(20px);
  text-decoration: none;
  margin-top: rem(33px);
  &:hover {
    text-decoration: underline;
  }
}
.form-enter-button-wrapper_restore {
  margin-top: rem(30px);
}
.form-item_custom-checkbox {
  width: 100%;
  margin-left: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: rem(40px);
}
.btn-submit_repas {
  min-width: rem(154px);
}
.link-form-accreditations {
  font-size: rem(18px);
  line-height: rem(21px);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  &::after {
    content: '';
    display: block;
    width: rem(19px);
    height: rem(16px);
    background: url("../images/arrow-accreditations.svg") no-repeat;
    background-size: 100%;
    margin-left: rem(10px);
  }
  span {
    text-decoration: underline;
  }
  &:hover {
    span {
      text-decoration: none;
    }
  }
}
.help-text_left {
  text-align: left;
}
.custom-checkbox-label {
  display: flex;
  align-items: center;
  &:first-child {
    margin-right: rem(35px);
  }
}
.custom-checkbox {
  width: rem(18px);
  height: rem(18px);
  border-radius: rem(3px);
  border: 1px solid $color-blue-1;
  display: block;
  margin-right: rem(12px);
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  background: transparent;
  transition: .3s ease-out;
  &::before {
    content: '';
    display: block;
    width: rem(10px);
    height: rem(10px);
    border-radius: rem(3px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    opacity: 0;
    background: $color-blue-1;
  }
}
.custom-checkbox-text {
  line-height: rem(21px);
  color: $color-blue-1;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.custom-checkbox-input {
  position: absolute;
  width: 1px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  &.error {
    & ~ .custom-checkbox {
      border-color: #D80027;
    }
    & ~ label.error {
      display: none !important;
    }
  }
}
.custom-checkbox-input:checked ~ .custom-checkbox {
  &::before {
    opacity: 1;
  }
}

.template-wrapper_forms {
  margin-bottom: rem(64px);
}
.btn-submit_main-form {
  margin-right: 0;
  margin-top: 0;
}
.btn_repas,
.wrapper-form-button_repas {
  grid-row-start: 2;
}
.help-text_repas {
  grid-row-start: 3;
}
.template-wrapper_forms-enter {
  margin-bottom: rem(153px);
  .main-h1_form {
    margin-bottom: rem(145px);
  }
}
.wrapper-main-form {
  min-height: auto;
  justify-content: flex-start;
}
.text-header-wrapper_register {
  max-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-header__text-register {
  max-width: rem(617px);
  text-align: center;
  font-size: rem(14px);
  line-height: rem(19px);
  font-weight: 600;
  margin-bottom: rem(47px);
}
.form-wrapper {
}
.page-header__title-registr {
  margin-bottom: rem(7px);
}
.main-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(24px) rem(48px);
}
.form-item-sign_promo {
  width: 100%;
  margin-right: 0 !important;
  margin-bottom: rem(18px);
}
.main-form-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-form-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: rem(13px);
}
.page-header__title-forms {
  text-align: center;
}
.page-header__title-login {
  margin-bottom: rem(47px);
}
.main-form-wrapper_login {
  max-width: rem(400px);
}
.btn_enter-form {
  width: 100%;
}
.page-header__title-remind {
  margin-bottom: rem(47px);
}
.form-container {
  width: 100%;
  margin-top: rem(69px);
}
.wrapper-header_form {
  max-width: rem(585px);
}
.form-item_checkbox {
  grid-area: 4 / 1 / 5 / 4;
  display: flex;
  align-items: center;
}
.recomend-text {
  opacity: 0.5;
  margin-bottom: rem(32px);
}
.form-header {
  .btn-login:not(.btn-nav_mobile) {
    color: $color-white;
  }
  .line-nav {
    background: $color-white;
    opacity: 0.24;
  }
}
.form-links {
  margin-top: rem(48px);
}
.form-links_item {
  &::before {
    background: url("../images/arrow-show-more _dark.svg") no-repeat;
    background-size: 100%;
  }
  &:hover {
    color: $color-blue-1;
    opacity: 0.8;
  }
  &:first-child {
    margin-right: rem(36px);
  }
}
.form-container_register {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(1026px);
}
.form-container_login {
  max-width: rem(493px);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(156px);
}
.form-container_reminder {
  margin-top: rem(175px);
}
.header-information-wrapper_forms {
  background: url("../images/form-bg.jpg") no-repeat;
  background-size: cover;
  min-height: auto;
  width: rem(360px);
}
.popup-twoauthstep {
  max-width: rem(480px);
}
.page-header_form {
  background: url("../images/header-form-bg.svg") no-repeat;
  background-size: cover;
  padding-bottom: rem(56px);
  min-height: rem(456px);
}
.form-item_help-text {
  margin-left: 0 !important;
  width: 100%;
}
.form-btn-submit {
  grid-area: 5 / 1 / 6 / 4;
}
.title-saccess_form {
  margin-bottom: 0;
}
.saccess-icon-wrapepr_form {
  background: url("../images/information-form-icon.svg") no-repeat;
  background-size: 100%;
}
.form-item_twoauth {
  width: 100%;
  margin-right: 0 !important;
}
.text-header-wrapper_forms {
  max-width: rem(1024px);
  width: 100%;
  background: $color-white;
  border-radius: rem(32px);
  box-shadow: 0px rem(4px) rem(32px) rgba(0, 0, 0, 0.1);
  margin-top: rem(24px);
  padding: rem(32px);
  position: relative;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-grow: 0;
}
.text-header-wrapper_login {
  max-width: rem(464px);
}
.saccess-icon_info {
    background: url("../images/succes-icon-info.svg") no-repeat;
    background-size: 100%;
}
.main-form_twoauthstep {
   grid-template-columns: 1fr;
}
.page-header_forms {
  padding-bottom: rem(89px);
}
.main-form_login {
  grid-template-columns: 1fr;
  grid-gap: rem(24px);
  max-width: rem(288px);
}
.form-btn-submit_login {
  grid-area: auto;
}
.btn-twoauth-wrapper {
  margin-top: rem(24px);
}


@media (max-width: 1152px) {
  .header-information-wrapper_forms {
    display: none;
  }
  .page-header_form {
    padding-bottom: 0;
  }
  .show-icon {
    right: rem(16px);
  }
  .h1-title_register {
    margin-bottom: rem(16px) !important;
  }
  .main-form_twoauthstep {
    flex-wrap: wrap;
  }
  .popup-twoauthstep {
    max-width: rem(540px);
  }
  .form-item_twoauth {
    margin-bottom: rem(32px);
  }
  .text-header-wrapper_forms {
    margin-top: 0;
    margin-bottom: 0;
  }
  .popup-twoauthstep {
    padding: rem(32px);
  }
  .main-form {
    grid-gap: rem(24px);
  }
  .page-header_forms {
    padding-bottom: 0;
  }
  .text-header-wrapper_login {
    max-width: rem(484px) !important;
  }
}
@media (max-width: 900px) {
  .main-form:not(.main-form_login) {
    grid-template-columns: 1fr 1fr;
  }
  .form-item_checkbox {
    grid-area: 5 / 1 / 6 / 3;
    flex-direction: column;
    align-items: flex-start;
  }
  .custom-checkbox-label {
    &:first-child {
      margin-right: 0;
      margin-bottom: rem(16px);
    }
  }
  .form-btn-submit:not(.form-btn-submit_login) {
    grid-area: 6 / 1 / 7 / 3;
    display: flex;
    justify-content: center;
  }
  .form-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-links_item {
    &:first-child {
      margin-right: 0;
      margin-bottom: rem(16px);
    }
  }
}
@media (max-width: 640px) {
  .main-form {
    grid-template-columns: 1fr;
  }
  .form-item_checkbox,
  .form-btn-submit {
    grid-area: auto;
  }
}
@media (min-resolution: 1.5dppx) {
}
