// FONTS
$font-inter: 'Inter', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$root-font-size: 16px;

//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-green: #15E883;
$color-red: #DF2929;
$color-button: #2D4AFF;
$color-button_hover: #445EFF;
$color-button_active: #1F3EFF;
$color-blue-1: #152AA1;
$color-blue-2: #344CD2;
$color-card: #2841CF;
$color-grey: #EEF0FE;

