.page-header__title_contact {
  margin-bottom: rem(150px);
  max-width: rem(1094px);
  min-height: rem(142px);
}
.btn-callback {
  min-width: rem(320px);
  white-space: nowrap;
}
.page-header__text_contacts {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: rem(14px);
  line-height: rem(19px);
  font-weight: 600;
  margin-bottom: rem(128px);
}
.contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0px rem(4px) rem(32px) rgba(0, 0, 0, 0.1);
  border-radius: rem(32px);
  background: $color-card;
}
.popup {
  max-width: rem(672px);
  background: $color-white;
  box-shadow: 0px rem(4px) rem(32px) rgba(0, 0, 0, 0.1);
  border-radius: rem(32px);
  margin: auto;
  position: relative;
  margin-top: rem(50px);
  margin-bottom: rem(50px);
  padding: rem(32px);
}
.h3-title_callback {
  margin-bottom: rem(32px);
}
.callback-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem(24px) rem(32px);
}
.form-item_input {
  width: 100%;
  transition: .3s ease;
  padding: 0;
  -webkit-appearance: none;
  box-shadow: inset 0 0 0 50px #F5F5F5  !important;
  caret-color: #797979;
  color: #797979;
  background: transparent;
  font-size: rem(15px);
  line-height: rem(20px);
  &:-webkit-autofill {
    -webkit-text-fill-color: #797979 !important;
  }
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 50px #F5F5F5  !important;
  }
  &.error:not(.form-input-sign) + label.error {
    //	display: none !important;
  }
  &.focus-visible ~ .label-form,
  &.hide-placeholder ~ .label-form {
    top: rem(-17px);
    font-size: rem(10px);
    line-height: rem(14px);
  }
  &.valid {
    & ~ .icon-valid {
      opacity: 1;
    }
  }
  &.error {
    border-color: $color-red;
    & ~ .icon-error {
      opacity: 1;
    }
    & ~ .label-form {
      //color: $color-dark-text;
    }
    &::-webkit-input-placeholder {
      //color: $color-red;
    }
    &::-moz-placeholder {
      //color: $color-red;
    }
    &:-moz-placeholder {
      //color: $color-red;
    }
    &:-ms-input-placeholder {
      //color: $color-red;
    }

  }
}
.wrapper-header_contacts {
  justify-content: flex-start;
  flex-grow: 0;
  margin-bottom: rem(48px);
}
.label-contacts-item {
  text-align: center;
  margin-bottom: rem(16px);
}
.wrapper_contacts-list {
  position: relative;
  z-index: 2;
}
.contacts-text {
  color: $color-white;
  font-size: rem(24px);
  line-height: rem(28px);
  font-weight: 500;
}
.contacts-list-title {
  font-size: rem(24px);
  line-height: rem(33px);
  font-weight: 700;
  margin-bottom: rem(16px);
}
.btn-callback-open {
  padding: rem(23px) rem(154px) rem(23px) rem(192px);
  margin-bottom: rem(24px);
  span {
    max-width: rem(206px);
    text-align: left;
    line-height: rem(25px);
  }
  &::before {
    width: calc(100% - 5.875rem);
  }
  &::after {
    content: '';
    width: rem(36px);
    height: rem(36px);
    position: absolute;
    top: 50%;
    left: rem(126px);
    transform: translateY(-50%);
    background: url("../images/icon-callback-button.svg") no-repeat;
    background-size: 100%;
    z-index: 2;
  }
}
.main-h2_callback {
  font-size: rem(38px);
  line-height: rem(48px);
  font-weight: 500;
  text-align: center;
  margin-bottom: rem(48px);
  padding-left: 0;
}
.footnote_contacts {
  line-height: rem(24px);
  text-align: center;
  margin-bottom: rem(42px);
}
.input-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-input {
  width: 100%;
  transition: .3s ease;
  padding: rem(12px) rem(16px);
  height: rem(48px);
  -webkit-appearance: none;
  box-shadow: inset 0 0 0 50px #EFF1FF !important;
  color: $color-blue-1;
  caret-color: $color-blue-1;
  border-radius: rem(12px);
  border: 1px solid #EFF1FF;
  //-webkit-text-fill-color: rgba(255, 255, 255, 0.32);
  &:-webkit-autofill {
    -webkit-text-fill-color: $color-blue-1;
    caret-color: $color-blue-1;
    box-shadow: inset 0 0 0 50px #EFF1FF !important;
  }
  &.hide-placeholder ~ .label-form {
    //color: $color-mono-3;
    margin-top: rem(-10px);
  }
  &:focus {
    & ~ .label-form {
      //color: $color-mono-3;
      margin-top: rem(-10px);
    }
    &::-webkit-input-placeholder {
      opacity: 0;
    }
    &::-moz-placeholder {
      opacity: 0;
    }
    &:-moz-placeholder {
      opacity: 0;
    }
    &:-ms-input-placeholder {
      opacity: 0;
    }
  }
  &.error:not(.form-input-sign) + label.error {
    //	display: none !important;
  }
  //&.focus-visible ~ .label-form,
  //&.hide-placeholder ~ .label-form {
  //  opacity: 0;
  //}

  &::-webkit-input-placeholder {
    transition: .3s ease-out;
    color: #9DA5E3;
    opacity: 1;
  }
  &::-moz-placeholder {
    transition: .3s ease-out;
    color: #9DA5E3;
    opacity: 1;
  }
  &::-moz-placeholder {
    transition: .3s ease-out;
    color: #9DA5E3;
    opacity: 1;
  }
  &::-ms-input-placeholder {
    transition: .3s ease-out;
    color: #9DA5E3;
    opacity: 1;
  }
  &::placeholder {
    transition: .3s ease-out;
    color: #9DA5E3;
    opacity: 1;
  }


  &.error {
    border-color: #D80027;
    & ~ label.error {
      position: absolute;
      left: 0;
      bottom: 0;
      text-align: right;
      font-size: rem(12px);
      line-height: rem(21px);
      transform: translateY(100%);
      color: #D80027;
      display: inline-block;
      width: auto;
      pointer-events: none;
    }
  }

}
.input-label {
  font-size: rem(21px);
  line-height: rem(32px);
  font-weight: 500;
  display: block;
  margin-bottom: rem(10px);
}
.label-text {
  position: absolute;
  left: rem(48px);
  top: 50%;
  transform: translateY(-50%);
  font-size: rem(14px);
  line-height: rem(24px);
  transition: .3s ease;
  cursor: text;
  white-space: nowrap;
  color: $color-white;
  font-weight: 400;
}

.select2-container .select2-selection--single {
  height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $color-blue-1;
  font-size: rem(16px);
  line-height: rem(24px);
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
  overflow: initial;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #9DA5E3;
}
.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.select2-container {
  width: 100% !important;
}
.selection {
  display: flex;
}
.select2-container--default .select2-selection--single:focus {
  outline: none;
}
.select2-container--default .select2-selection--single {
  width: 100%;
  padding: rem(12px) rem(16px);
  padding-right: rem(32px);
  height: rem(48px);
  border: 1px solid #EFF1FF;
  border-radius: rem(12px) !important;
  display: flex;
  align-items: center;
  position: relative;
  transition: .3s ease-out;
  font-size: rem(16px);
  line-height: rem(24px);
  color: $color-blue-1;
  background: #EFF1FF;
  &[aria-expanded="true"] {
    .select2-selection__arrow {
      transform: rotate(-180deg);
    }
  }
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  //border-color: $color-green;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: rem(16px);
  height: rem(16px);
  background: url("../images/arrow-select.svg") no-repeat;
  background-size: 100%;
  background-position: center;
  top: rem(16px);
  right: rem(16px);
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {

}
select.error ~ .select2-container--default .select2-selection--single {
  //border-color: $color-red;
}
select.error + label.error {
  //display: none !important;
}
.select2-container--open .select2-dropdown {
  border: none;
  background: $color-white;
  border-radius: 0 !important;
  overflow: hidden;
}
.select-custom-wrapper .select2-container--open .select2-dropdown {
  height: rem(190px);
  border-radius: rem(12px) !important;
  margin-top: rem(8px);
  box-shadow: 0px rem(4px) rem(12px) rgba(0, 0, 0, 0.06);
  background: #EFF1FF;
}
.select2-search--dropdown {
  margin-top: 0;
  padding-top: rem(8px);
  padding-right: rem(8px);
  padding-left: rem(8px);
  padding-bottom: rem(8px);
}
.select-wrapper-country .select2-container--default .select2-results > .select2-results__options {
  max-height: rem(172px);
}
.select-wrapper-lang .select2-container--default .select2-results > .select2-results__options {
  max-height: rem(150px);
}
.select-wrapper-lang .select2-container--open .select2-dropdown {
  height: rem(150px);
}
#select2-select-country-results {
  max-height: rem(142px);
}
.select2-container--default.select2-container--open .select2-selection--single {
  //border-radius: rem(15px) !important;
}
.select-custom-wrapper_required {
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    &::after {
      content: '*';
      font-size: rem(14px);
      line-height: rem(19px);
      color: $color-white;
      margin-left: rem(4px);
      display: none;
    }
  }
}
.select-wrapper-lang .select2-search {
  display: none;
}
.select2-container--open .select2-dropdown {
  border-radius: 0;
  border: none;
}
.select-custom-wrapper .select2-container {
  bottom: 0 !important;
  top: auto !important;
  left: 0 !important;
}

.select2-results__option {
  padding: rem(4px) rem(16px);
  display: flex;
  align-items: center;
  position: relative;
  color: $color-blue-1;
  opacity: 0.5;
  transition: .3s ease;
  height: auto;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  opacity: 1;
  background-color: transparent;
  color: $color-blue-1;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[aria-selected="true"] {
  opacity: 1;
  background-color: transparent;
  color: $color-blue-1;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  height: rem(32px);
  border-radius: rem(8px);
  padding: 0 rem(10px);
  font-size: rem(12px);
  line-height: 100%;
  outline: none !important;
  background: $color-white;
  border: none;
  color: $color-blue-1;
  &:focus {
    //outline: none;
    //border: none;
  }
}
.select-custom-wrapper {
  position: relative;
}

.h2-wrapper_contacts {
  width: rem(1113px);
  height: rem(1113px);
  flex-direction: column;
  position: relative;
  left: rem(-237px);
  top: rem(100px);
  background-image: url("../images/rectangle-background-contacts.svg");
  &::before {
    background-image: url("../images/contacts-h2-icon.svg");
  }
}
.title-saccess {
  text-align: center;
}
.saccess-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-text_prev-h2-contacts {
  color: $color-white;
  max-width: rem(651px);
  margin-bottom: rem(47px);
}
.required-information {
  text-align: center;
  font-size: rem(14px);
  line-height: rem(24px);
  color: $color-white;
  height: rem(32px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: rem(35px);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background: #F8786B;
    opacity: 0.16;
  }
}
.red-color {
  color: #FF480E;
}
.background-contacts {
  position: absolute;
  right: 0;
  z-index: -1;
  top: rem(-159px);
}


.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
  border-radius: rem(10px) !important;
}
.select-wrapper-lang .custom-select.error ~ .select2-container .select2-selection--single {
  .select2-selection__placeholder {
    //color: $error;
  }
}
.contacts-text-title {
  color: #A1A1A1;
  margin-bottom: rem(8px);
}
.contacts-text-name {
  position: relative;
  font-size: rem(28px);
  line-height: rem(35px);
  font-weight: 500;
  color: $color-white;
}
.contacts-information-wrapper {
  max-width: rem(767px);
  margin-top: rem(44px);
  margin-bottom: rem(64px);
}
.contacts-text-name_number {
  font-size: rem(27px);
  margin-top: rem(3px);
}
.template-wrapper_contacts {
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-header_contacts {
  height: auto;
  min-height: 100% !important;
  flex-grow: 1;
}
.header-text-block_contacts {
  position: relative;
  margin: 0;
  flex-grow: 1;
  height: 100%;
}
.header-text_prev-h2-contacts {
  margin-bottom: rem(48px);
  max-width: rem(733px);
}
.main-h1_contacts {
  margin-bottom: rem(24px);
}
.callback-phone-icon {
  margin-right: rem(5px);
}
.help-text {
  width: 100%;
  color: $color-blue-1;
  opacity: 0.5;
}
.label-form {
  transition: 0.3s ease-out;
  font-size: rem(14px);
  line-height: rem(21px);
  margin-bottom: rem(8px);
  color: #BABFE6;
  display: block;
}
.icon {
  display: flex;
  justify-content: center;
  margin-bottom: rem(37px);
}
.contacts-icon-button {
  margin-right: rem(9px);
}
.main-content_contacts {
  z-index: 2;
}
.custom-select.error ~ .select2-container--default .select2-selection--single {
  //background: #EF9693;
  border-color: $color-red;
}
.custom-select.error ~ .select2-container--default .select2-selection--single .select2-selection__placeholder {
  //color: $color-mono-1;
}
.btn-contacts {
  min-width: rem(338px) !important;
}
.saccess-icon, .succesRepass .saccess-icon_information-icon {
  width: rem(50px);
  height: rem(50px);
  background: url("../images/succes-icon.svg") no-repeat;
  background-size: 100%;
}
.saccess-popup {
  max-width: rem(369px);
}
.icon-content {
  width: rem(20px);
  height: rem(20px);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-shrink: 0;
  left: rem(32px);
  top: rem(32px);
  position: absolute;
}
.icon-content_email {
  background-image: url("../images/icon-contacts-1.svg");
}
.icon-content_address {
  background-image: url("../images/icon-contacts-2.svg");
}
.contacts-list__item {
  position: relative;
  padding: rem(22px) rem(42px) rem(16px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-contacts {
  padding-top: rem(80px);
  padding-bottom: rem(83px);
}
.contacts-list__title {
  font-weight: 600;
  text-align: center;
  position: relative;
}
.text-header-wrapper_contacts {
  margin-top: rem(88px);
  margin-bottom: 0;
}
.custom-select.label-top ~ .label-form {
  margin-top: rem(-10px);
}
.icon-input {
  width: rem(24px);
  height: rem(24px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: rem(8px);
  left: rem(16px);
  z-index: 1;
  &::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
.icon-input_user {
  &::before {
    background-image: url("../images/input-user-icon.svg");
    width: rem(12px);
    height: rem(12px);
  }
}
.icon-input_phone {
  &::before {
    background-image: url("../images/input-phone-icon.svg");
    width: rem(12px);
    height: rem(12px);
  }
}
.icon-input_email {
  &::before {
    background-image: url("../images/input-mail-icon.svg");
    width: rem(14px);
    height: rem(14px);
  }
}
.icon-input_time {
  &::before {
    background-image: url("../images/input-clock-icon.svg");
    width: rem(14px);
    height: rem(14px);
  }
}
.icon-input_country {
  &::before {
    background-image: url("../images/input-country-icon.svg");
    width: rem(14px);
    height: rem(14px);
  }
}
.icon-input_lang {
  &::before {
    background-image: url("../images/input-lang-icon.svg");
    width: rem(16px);
    height: rem(14px);
  }
}
.icon-input_password {
  &::before {
    background-image: url("../images/input-password-icon.svg");
    width: rem(12px);
    height: rem(15px);
  }
}
.icon-input_promo {
  &::before {
    background-image: url("../images/input-promo-icon.svg");
    width: rem(14px);
    height: rem(12px);
  }
}
.saccess-icon-wrapper {
  height: rem(316px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.saccess-icon {
  width: rem(144px);
  height: rem(144px);
  background: url("../images/succes-icon.svg") no-repeat;
  background-size: 100%;
}
.submit-btn-wrapper {
  margin-top: rem(24px);
}
.saccess-wrapper-text {
  min-height: rem(147px);
  background: #22294A;
  padding: rem(32px);
  padding-bottom: rem(36px);
}
.text-saccess {
  text-align: center;
  opacity: 0.5;
}
.contacts-img_1 {
  max-width: rem(489px);
  top: rem(195px);
  right: rem(-41px);
}
.contacts-img_2 {
  max-width: rem(365px);
  top: rem(51px);
  right: rem(-136px);
}
.wrapper-page-image {
  &.aos-animate {
    .contacts-img_1 {
      animation-delay: 0.3s;
      animation-name: animateOpacity;
    }
    .contacts-img_2 {
      animation-delay: 0.6s;
      animation-name: animateOpacity;
    }
  }
}
.contacts-icon {
  width: rem(32px);
  height: rem(32px);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-bottom: rem(24px);
}
.contacts-icon_email {
  background-image: url("../images/contact-icon-mail.svg");
}
.contacts-icon_address {
  background-image: url("../images/contact-icon-label.svg");
}
.contacts-icon_phone {
  background-image: url("../images/contact-icon-phone.svg");
}
.contacts-list__item-1 {
  border-right: 1px solid #4257CF;
}
.page-header_contacts {
  flex-grow: 1;
}


@media (max-width: 1152px) {
  .img-header_contacts {
    max-width: rem(300px);
  }
  .btn-submit {
    margin-top: 0;
  }
  .contacts-list__item {
    width: 100%;
    padding: rem(32px);
  }
  .contacts-list__item-clip {
    clip-path: none;
    border-radius: rem(16px);
    box-shadow: 0px rem(4px) rem(8px) rgba(19, 21, 66, 0.08);
  }
  .header-information-wrapper_contacts {
    width: 100%;
    background: none;
    border-radius: 0;
    padding: 0;
  }
  .section-contacts {
    padding-top: 0 !important;
    padding-bottom: rem(64px);
  }
  .label-contacts-item {
    margin-bottom: rem(8px);
  }
  .page-header__title-contacts {
    margin-bottom: rem(24px);
  }
  .text-header-wrapper_contacts {
    margin-top: 0;
  }
  .h3-title_callback {
    font-size: rem(22px) !important;
    line-height: 130%;
    margin-bottom: rem(16px) !important;
  }
  .saccess-wrapper-text {
    min-height: auto;
  }
  .title-saccess {
    font-size: rem(22px) !important;
    line-height: 130% !important;
  }
  .saccess-icon-wrapper {
    height: auto;
    padding-top: rem(64px);
    padding-bottom: rem(64px);
  }
  .saccess-icon {
    width: rem(100px);
    height: rem(100px);
  }
  .wrapper-header_contacts {
    margin-bottom: 0;
  }
  .contacts-icon {
    margin-bottom: rem(16px);
  }
  .wrapper_contacts-list {
    padding-bottom: rem(64px);
  }
}
@media (max-width: 800px) {
  .contacts-list {
    grid-template-columns: 1fr;
  }
  .contacts-list__item-1 {
    border-right: none;
    border-bottom: 1px solid #4257CF;
  }
  .contacts-list__item {
    transition-delay: 0.3s !important;
  }
  .callback-form {
    grid-template-columns: 1fr;
  }
  .submit-btn-wrapper {
    margin-top: 0;
  }
}
